---
import ExperienceItem from "./ExperienceItem.astro"
const EXPERIENCIE = [
  {
    date: "Actualmente...",
    title: "Desarrollador Fullstack",
    company: "Merlix",
    start: "Mayo - 2023",
    description:
      "En mi rol actual como Desarrollador Junior Full-Stack, tengo el privilegio de participar en proyectos completos desde su concepción hasta su implementación, abarcando todos los aspectos del desarrollo de software. Mi responsabilidad principal es traducir las especificaciones del proyecto en soluciones tecnológicas efectivas y de alta calidad, asegurando que cada componente del sistema funcione de manera armoniosa y cumpla con los requisitos.",
    link: "https://www.merlix.com/",
  },
]
---

<ol class="relative mt-16">
  {
    EXPERIENCIE.map((experiencie) => (
      <li class="">
        <ExperienceItem {...experiencie} />
      </li>
    ))
  }
</ol>
